Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

bump(release): v1.9.0 → v1.10.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(codegen): fail pre-commit when sync client is out of date
  .pre-commit-config.yaml
  duties.py
Due: none

feat(testing): add params kwarg for per-ID response matching
  CLAUDE.md
  src/vclient/_sync/testing/_client.py
  src/vclient/testing/_client.py
  src/vclient/testing/_router.py
  tests/integration/testing/test_routes.py
  tests/unit/testing/test_router.py
Due: ty, pytest

docs(testing): document params kwarg and fixture ordering
  docs/testing.md
Due: none

feat(testing): add per-ID response matching (#42)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/testing.md
  duties.py
  src/vclient/_sync/testing/_client.py
  src/vclient/testing/_client.py
  src/vclient/testing/_router.py
  tests/integration/testing/test_routes.py
  tests/unit/testing/test_router.py
Due: ty, pytest

feat(users): add UNAPPROVED role and DTOs
  src/vclient/constants.py
  src/vclient/endpoints.py
  src/vclient/models/users.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(models): export UserApproveDTO and UserDenyDTO
  src/vclient/models/__init__.py
Due: ty, pytest

test(models): add tests for UserApproveDTO/UserDenyDTO
  tests/unit/models/test_users.py
Due: pytest

feat(services): add approve/deny user methods
  src/vclient/_sync/services/users.py
  src/vclient/services/users.py
  src/vclient/testing/_routes.py
Due: ty, pytest

test(services): add approve/deny integration tests
  tests/integration/services/test_users.py
Due: pytest

docs(users): add approve/deny documentation
  docs/models/users.md
  docs/services/users.md
Due: none

ci: update line length for commit msgs
  committed.toml
Due: none

feat(users): add user approval workflow (#43)
  committed.toml
  docs/models/users.md
  docs/services/users.md
  src/vclient/_sync/services/users.py
  src/vclient/constants.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/services/users.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_users.py
  tests/unit/models/test_users.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

bump(release): v1.10.0 → v1.11.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(users): integrate GoogleProfile and GitHubProfile models
  docs/models/users.md
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_users.py
Due: ty, pytest

feat(users): integrate GoogleProfile and GitHubProfile models (#44)
  docs/models/users.md
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_users.py
Due: ty, pytest

bump(release): v1.11.0 → v1.12.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(users): add google/github profiles to UserCreate and UserUpdate
  CHANGELOG.md
  src/vclient/models/users.py
  tests/unit/models/test_users.py
Due: ty, pytest

bump(release): v1.12.0 → v1.13.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(models): add UserRegister, UserMerge models and endpoint constants
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/testing/_routes.py
Due: ty, pytest

feat(users): add register() and merge() methods to UsersService
  src/vclient/_sync/services/users.py
  src/vclient/services/users.py
Due: ty, pytest

test(users): add integration tests for register() and merge()
  tests/integration/services/test_users.py
Due: pytest

docs(users): add register and merge to service documentation
  docs/services/users.md
Due: none

docs(models): add UserRegister and UserMerge model documentation
  docs/models/users.md
Due: none

refactor(users): align merge() model_dump and add test coverage
  src/vclient/_sync/services/users.py
  src/vclient/services/users.py
  tests/integration/services/test_users.py
Due: ty, pytest

refactor(models): rename UserRegister/UserMerge to DTO suffix
  docs/models/users.md
  docs/services/users.md
  src/vclient/_sync/services/users.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/services/users.py
  tests/integration/services/test_users.py
Due: ty, pytest

feat(users): add register and merge endpoints (#45)
  docs/models/users.md
  docs/services/users.md
  src/vclient/_sync/services/users.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/services/users.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_users.py
Due: ty, pytest

fix(user): add email filter to list endpoints
  .gitignore
  src/vclient/_sync/services/users.py
  src/vclient/services/users.py
Due: ty, pytest

bump(release): v1.13.0 → v1.14.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(user): add lifetime experience to user model
  docs/models/users.md
  src/vclient/models/users.py
Due: ty, pytest

fix(user): add lifetime experience to user model (#46)
  docs/models/users.md
  src/vclient/models/users.py
Due: ty, pytest

feat(chargen): add session list/get endpoints and model fields
  src/vclient/endpoints.py
  src/vclient/models/character_autogen.py
  tests/integration/services/test_character_autogen.py
Due: ty, pytest

feat(testing): add LIST response style for non-paginated list endpoints
  src/vclient/_sync/testing/_client.py
  src/vclient/testing/_client.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
Due: ty, pytest

feat(chargen): add list_all and get methods for chargen sessions
  src/vclient/_sync/services/character_autogen.py
  src/vclient/services/character_autogen.py
Due: ty, pytest

test(chargen): add integration tests for list_all and get sessions
  tests/integration/services/test_character_autogen.py
Due: pytest

docs(chargen): document list_all and get session methods
  docs/services/character_autogen.md
Due: none

refactor(chargen): fix type signature and add missing docstrings
  src/vclient/_sync/services/character_autogen.py
  src/vclient/_sync/testing/_client.py
  src/vclient/services/character_autogen.py
  src/vclient/testing/_client.py
Due: ty, pytest

feat(chargen): add list and get endpoints for chargen sessions (#47)
  docs/services/character_autogen.md
  src/vclient/_sync/services/character_autogen.py
  src/vclient/_sync/testing/_client.py
  src/vclient/endpoints.py
  src/vclient/models/character_autogen.py
  src/vclient/services/character_autogen.py
  src/vclient/testing/_client.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_character_autogen.py
Due: ty, pytest

bump(release): v1.14.0 → v1.15.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(models): rename session_id to id in ChargenSessionResponse
  docs/services/character_autogen.md
  src/vclient/models/character_autogen.py
  tests/integration/services/test_character_autogen.py
Due: ty, pytest

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

