Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

.pre-commit-config.yaml:

---
# https://pre-commit.com
default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit, manual]
fail_fast: true
repos:
  - repo: "https://github.com/commitizen-tools/commitizen"
    rev: v4.12.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [pre-push]

  - repo: "https://github.com/pre-commit/pygrep-hooks"
    rev: v1.10.0
    hooks:
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

    # Use this hook over check-json because it supports comments in JSON5.
  - repo: "https://gitlab.com/bmares/check-json5"
    rev: v1.0.1
    hooks:
      - id: check-json5
        exclude: .devcontainer/|.vscode/

  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      # - id: check-json
      # exclude: .devcontainer/|.vscode/
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        types: [python]

  - repo: "https://github.com/adrienverge/yamllint.git"
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: ^.*\.(yaml|yml)$
        entry: yamllint --strict --config-file .yamllint.yml

  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: v0.14.13
    hooks:
      - id: ruff-check
      - id: ruff-format
        args: [--check]

  - repo: "https://github.com/adhtruong/mirrors-typos"
    rev: v1.42.1
    hooks:
      - id: typos
        args: ["--force-exclude"]
        stages: [commit-msg, pre-commit]

  # - repo: "https://github.com/gitleaks/gitleaks"
  #   rev: v8.30.0
  #   hooks:
  #     - id: gitleaks

  - repo: "https://github.com/python-jsonschema/check-jsonschema"
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]

  - repo: "https://github.com/crate-ci/committed"
    rev: v1.1.10
    hooks:
      - id: committed
        stages: [commit-msg]

  - repo: "https://github.com/tsvikas/sync-with-uv"
    rev: v0.5.0
    hooks:
      - id: sync-with-uv

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck --check-sourced --severity=warning
        language: system
        types: [shell]

      - id: ty
        name: ty
        entry: ty check src/
        exclude: "tests/|duties.py|scripts/"
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: duty test
        language: system
        pass_filenames: false
        files: |
          (?x)^(
          src/|
          tests/|
          uv\.lock|
          pyproject\.toml
          )

docs(skill): expand error handling guidance
  vclient-guide-skill/SKILL.md
  vclient-guide-skill/references/error-handling.md
Due: none

feat(company)!: support new company permissions
  docs/models/companies.md
  docs/services/companies.md
  src/vclient/_sync/services/companies.py
  src/vclient/models/__init__.py
  src/vclient/models/companies.py
  src/vclient/services/companies.py
  tests/integration/services/test_companies.py
  tests/integration/services/test_system.py
  tests/integration/test_sync_client.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_companies.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

bump(release): v1.23.0 → v2.0.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

build(deps): bump dependencies
  .github/dependabot.yml
  .pre-commit-config.yaml
  .yamllint.yml
  pyproject.toml
  uv.lock
Due: pytest

feat(dicerolls): add character_type filter to list endpoints
  docs/services/dice_rolls.md
  src/vclient/_sync/services/dicerolls.py
  src/vclient/services/dicerolls.py
  tests/integration/services/test_dicerolls.py
  vclient-guide-skill/references/services.md
Due: ty, pytest

feat(dicerolls): add character_type filter to list endpoints (#71)
  docs/services/dice_rolls.md
  src/vclient/_sync/services/dicerolls.py
  src/vclient/services/dicerolls.py
  tests/integration/services/test_dicerolls.py
  vclient-guide-skill/references/services.md
Due: ty, pytest

bump(release): v2.0.0 → v2.1.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(global-admin): add server-log endpoints and LogLevel constant
  src/vclient/constants.py
  src/vclient/endpoints.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(global-admin): add ServerLogEntry response model
  src/vclient/models/__init__.py
  src/vclient/models/global_admin.py
  tests/unit/models/test_global_admin.py
Due: ty, pytest

feat(global-admin): add ServerLogArchive download result
  src/vclient/models/__init__.py
  src/vclient/models/global_admin.py
  tests/unit/models/test_global_admin.py
Due: ty, pytest

feat(client): allow per-request header overrides on GET
  src/vclient/_sync/services/base.py
  src/vclient/services/base.py
  tests/integration/services/test_base.py
Due: ty, pytest

feat(global-admin): add tail_logs to read recent server logs
  src/vclient/_sync/services/global_admin.py
  src/vclient/services/global_admin.py
  tests/integration/services/test_global_admin_logs.py
Due: ty, pytest

feat(global-admin): add download_logs to fetch the log archive
  src/vclient/_sync/services/global_admin.py
  src/vclient/services/global_admin.py
  tests/integration/services/test_global_admin_logs.py
  tests/unit/services/__init__.py
  tests/unit/services/test_global_admin.py
Due: ty, pytest

feat(testing): add fake routes for server-log endpoints
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/testing/test_fake_client_logs.py
Due: ty, pytest

docs(global-admin): document server-log endpoints and models
  docs/models/developers.md
  docs/services/global_admin.md
Due: none

docs(skill): add server-log endpoints to vclient guide
  vclient-guide-skill/references/constants.md
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: none

docs(testing): note BYTES route style and drop em-dash in guide
  src/vclient/testing/_routes.py
  vclient-guide-skill/references/services.md
Due: ty, pytest

feat(global-admin): add server-log tail and download endpoints (#72)
  docs/models/developers.md
  docs/services/global_admin.md
  src/vclient/_sync/services/base.py
  src/vclient/_sync/services/global_admin.py
  src/vclient/constants.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/global_admin.py
  src/vclient/services/base.py
  src/vclient/services/global_admin.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_base.py
  tests/integration/services/test_global_admin_logs.py
  tests/integration/testing/test_fake_client_logs.py
  tests/unit/models/test_global_admin.py
  tests/unit/services/__init__.py
  tests/unit/services/test_global_admin.py
  tests/unit/test_validate_constants.py
  vclient-guide-skill/references/constants.md
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

feat(characters): remove DEVELOPER character type
  docs/models/characters.md
  docs/models/index.md
  docs/services/characters.md
  docs/services/dice_rolls.md
  docs/services/options.md
  src/vclient/constants.py
  tests/integration/services/test_options.py
  tests/unit/test_validate_constants.py
  vclient-guide-skill/references/constants.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

feat(characters): make creator and player IDs nullable on Character
  docs/models/characters.md
  src/vclient/models/characters.py
  tests/unit/models/test_characters.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

docs(characters): document player assignment and trait currency rules
  docs/services/character_traits.md
  docs/services/characters.md
  vclient-guide-skill/references/services.md
Due: none

bump(release): v2.1.0 → v2.2.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(companies): add permission_manage_npc company setting
  docs/models/companies.md
  docs/models/index.md
  docs/services/characters.md
  src/vclient/constants.py
  src/vclient/models/companies.py
  src/vclient/validate_constants.py
  tests/integration/services/test_companies.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_companies.py
  tests/unit/test_validate_constants.py
  vclient-guide-skill/references/constants.md
  vclient-guide-skill/references/models.md
Due: ty, pytest

feat(companies): add permission_manage_npc company setting (#73)
  docs/models/companies.md
  docs/models/index.md
  docs/services/characters.md
  src/vclient/constants.py
  src/vclient/models/companies.py
  src/vclient/validate_constants.py
  tests/integration/services/test_companies.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_companies.py
  tests/unit/test_validate_constants.py
  vclient-guide-skill/references/constants.md
  vclient-guide-skill/references/models.md
Due: ty, pytest

feat(models): add AdminUser, AdminUserCreate, AdminUserUpdate
  src/vclient/models/users.py
  tests/unit/models/test_users.py
Due: ty, pytest

feat(models): export admin user models from package
  src/vclient/models/__init__.py
Due: ty, pytest

feat(endpoints): add admin users endpoint paths
  src/vclient/endpoints.py
Due: ty, pytest

feat(testing): add admin user routes and factory to fake client
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
Due: ty, pytest

feat(global-admin)!: rename developer methods to *_developer
  src/vclient/_sync/services/global_admin.py
  src/vclient/services/global_admin.py
  tests/integration/services/test_global_admin.py
Due: ty, pytest

build: gitignore .agent scratch directory
  .gitignore
Due: none

feat(global-admin): add cross-company user management methods
  src/vclient/_sync/services/global_admin.py
  src/vclient/services/global_admin.py
  tests/integration/services/test_global_admin.py
Due: ty, pytest

docs(global-admin): document developer rename and admin user methods
  docs/models/users.md
  docs/services/global_admin.md
Due: none

docs(skill): sync global-admin reference with renamed and new methods
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: none

docs(registry): fix stale list_all in global-admin factory example
  src/vclient/_sync/registry.py
  src/vclient/registry.py
  tests/integration/services/test_global_admin.py
Due: ty, pytest

refactor(global-admin): subclass admin request models, dedupe params
  src/vclient/_sync/services/global_admin.py
  src/vclient/models/users.py
  src/vclient/services/global_admin.py
  tests/integration/services/test_global_admin.py
Due: ty, pytest

docs: note codegen docstring quirk is not a review issue
  CLAUDE.md
Due: none

feat: global-admin cross-company user management (#74)
  .gitignore
  CLAUDE.md
  docs/models/users.md
  docs/services/global_admin.md
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/global_admin.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/registry.py
  src/vclient/services/global_admin.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_global_admin.py
  tests/unit/models/test_users.py
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

bump(release): v2.2.0 → v2.3.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(campaigns): add child-resource count fields to campaign response
  docs/models/campaigns.md
  src/vclient/models/campaigns.py
  tests/unit/models/test_campaigns.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

docs(campaigns): align campaign model table columns
  docs/models/campaigns.md
Due: none
