Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

test(models): strengthen CharacterInclude test with get_args
  tests/unit/models/test_characters.py
Due: pytest

refactor(services): use _build_params in get() and fix validate_constants
  src/vclient/_sync/services/characters.py
  src/vclient/services/characters.py
  src/vclient/validate_constants.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat: add CharacterDetail model with include parameter (#59)
  docs/index.md
  docs/models/companies.md
  docs/models/index.md
  docs/services/options.md
  pyproject.toml
  src/vclient/_sync/services/characters.py
  src/vclient/constants.py
  src/vclient/models/__init__.py
  src/vclient/models/characters.py
  src/vclient/models/companies.py
  src/vclient/models/shared.py
  src/vclient/services/characters.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  src/vclient/validate_constants.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_campaigns.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_companies.py
  tests/integration/services/test_users.py
  tests/integration/test_sync_client.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_companies.py
  tests/unit/models/test_shared.py
  tests/unit/models/test_users.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

refactor(tests): extract duplicated response fixtures to shared module
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_campaigns.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_companies.py
  tests/integration/services/test_users.py
  tests/shared_response_fixtures.py
Due: pytest

refactor(models): rename category and subcategory response fields
  src/vclient/models/character_blueprint.py
  src/vclient/models/shared.py
Due: ty, pytest

refactor(models): rename parent_category_id to category_id in TraitCreate
  src/vclient/models/character_trait.py
Due: ty, pytest

refactor(services): rename parent_category_id to category_id in query params
  src/vclient/services/character_blueprint.py
  src/vclient/services/character_traits.py
Due: ty, pytest

refactor(sync): regenerate sync client after field renames
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/_sync/services/character_traits.py
Due: ty, pytest

test: rename trait fields in tests to match API changes
  tests/integration/services/test_character_blueprint.py
  tests/integration/services/test_character_traits.py
  tests/integration/services/test_characters.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_character_blueprint.py
  tests/unit/models/test_character_trait.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_full_sheet.py
  tests/unit/models/test_shared.py
Due: pytest

docs: rename trait fields in documentation to match API
  docs/models/character_blueprint.md
  docs/models/character_traits.md
  docs/services/character_blueprint.md
  docs/services/character_traits.md
Due: none

style(tests): rename test methods to match field renames
  tests/integration/services/test_character_traits.py
Due: pytest

refactor: rename category and subcategory fields to match API (#60)
  docs/models/character_blueprint.md
  docs/models/character_traits.md
  docs/services/character_blueprint.md
  docs/services/character_traits.md
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/_sync/services/character_traits.py
  src/vclient/models/character_blueprint.py
  src/vclient/models/character_trait.py
  src/vclient/models/shared.py
  src/vclient/services/character_blueprint.py
  src/vclient/services/character_traits.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_campaigns.py
  tests/integration/services/test_character_blueprint.py
  tests/integration/services/test_character_traits.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_companies.py
  tests/integration/services/test_users.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_character_blueprint.py
  tests/unit/models/test_character_trait.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_full_sheet.py
  tests/unit/models/test_shared.py
Due: ty, pytest

refactor(models): rename fields to match API
  docs/models/character_blueprint.md
  docs/models/companies.md
  docs/models/shared.md
  src/vclient/models/character_blueprint.py
  src/vclient/models/companies.py
  src/vclient/models/shared.py
  tests/integration/services/test_character_blueprint.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_shared.py
  tests/unit/models/test_users.py
Due: ty, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  pyproject.toml
  src/vclient/testing/_router.py
  uv.lock
Due: ty, pytest

bump(release): v1.18.1 → v1.19.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(constants): add include literals for book, chapter, user
  src/vclient/constants.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(models): add CampaignBookDetail model with embed fields
  src/vclient/models/__init__.py
  src/vclient/models/books.py
  tests/unit/models/test_books.py
Due: ty, pytest

feat(models): add CampaignChapterDetail with optional embeds
  src/vclient/models/__init__.py
  src/vclient/models/chapters.py
  tests/unit/models/test_chapters.py
Due: ty, pytest

feat(models): add UserDetail with optional embeds
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  tests/unit/models/test_users.py
Due: ty, pytest

feat(books): support include query param on get()
  src/vclient/_sync/services/campaign_books.py
  src/vclient/services/campaign_books.py
  tests/integration/services/test_campaign_books.py
Due: ty, pytest

feat(chapters): support include query param on get()
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/services/campaign_book_chapters.py
  tests/integration/services/test_campaign_book_chapters.py
Due: ty, pytest

feat(users): support include query param on get()
  src/vclient/_sync/services/users.py
  src/vclient/services/users.py
  tests/integration/services/test_users.py
Due: ty, pytest

feat(testing): wire detail models into fake client routes
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
Due: ty, pytest

docs: document include param for book, chapter, user get
  docs/models/campaign_books.md
  docs/models/campaign_chapters.md
  docs/models/users.md
  docs/services/campaign_books.md
  docs/services/campaign_chapters.md
  docs/services/users.md
Due: none

feat: support include query param on book, chapter, user get (#61)
  docs/models/campaign_books.md
  docs/models/campaign_chapters.md
  docs/models/users.md
  docs/services/campaign_books.md
  docs/services/campaign_chapters.md
  docs/services/users.md
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/_sync/services/campaign_books.py
  src/vclient/_sync/services/users.py
  src/vclient/constants.py
  src/vclient/models/__init__.py
  src/vclient/models/books.py
  src/vclient/models/chapters.py
  src/vclient/models/users.py
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/users.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_users.py
  tests/unit/models/test_books.py
  tests/unit/models/test_chapters.py
  tests/unit/models/test_users.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(companies): add permission_recoup_xp setting
  src/vclient/constants.py
  src/vclient/models/companies.py
  src/vclient/validate_constants.py
  tests/unit/models/test_companies.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(companies): add permission_recoup_xp setting (#62)
  src/vclient/constants.py
  src/vclient/models/companies.py
  src/vclient/validate_constants.py
  tests/unit/models/test_companies.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

bump(release): v1.19.0 → v1.20.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(users): require requesting_user_id on unapproved list methods
  docs/models/companies.md
  src/vclient/_sync/services/users.py
  src/vclient/models/characters.py
  src/vclient/models/companies.py
  src/vclient/services/users.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_users.py
  tests/integration/test_sync_client.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_companies.py
  tests/unit/models/test_full_sheet.py
Due: ty, pytest

fix(users): add DEACTIVATED user role
  src/vclient/_sync/services/users.py
  src/vclient/constants.py
  src/vclient/services/users.py
  tests/unit/models/test_users.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

bump(release): v1.20.0 → v1.20.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(user-lookup): add UserLookupResult model and endpoint constant
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/user_lookup.py
  tests/unit/models/test_user_lookup.py
Due: ty, pytest

feat(user-lookup): add UserLookupService for cross-company user lookup
  src/vclient/_codegen.py
  src/vclient/_sync/client.py
  src/vclient/_sync/services/__init__.py
  src/vclient/_sync/services/user_lookup.py
  src/vclient/client.py
  src/vclient/services/__init__.py
  src/vclient/services/user_lookup.py
  tests/integration/services/test_user_lookup.py
Due: ty, pytest

feat(user-lookup): add user_lookup_service factory and top-level export
  src/vclient/__init__.py
  src/vclient/_sync/registry.py
  src/vclient/registry.py
Due: ty, pytest

feat(user-lookup): add testing infrastructure for user lookup
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
Due: ty, pytest

feat(user-lookup): generate sync client for user lookup service
  src/vclient/__init__.py
  src/vclient/_codegen.py
  src/vclient/_sync/__init__.py
  src/vclient/_sync/registry.py
Due: ty, pytest

docs(user-lookup): add service and model documentation
  docs/models/user_lookup.md
  docs/services/user_lookup.md
Due: none

docs: add documentation-ships-with-code reminder to CLAUDE.md
  CLAUDE.md
Due: none

feat: add cross-company user lookup service (#63)
  CLAUDE.md
  docs/models/user_lookup.md
  docs/services/user_lookup.md
  src/vclient/__init__.py
  src/vclient/_codegen.py
  src/vclient/_sync/__init__.py
  src/vclient/_sync/client.py
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/__init__.py
  src/vclient/_sync/services/user_lookup.py
  src/vclient/client.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/user_lookup.py
  src/vclient/registry.py
  src/vclient/services/__init__.py
  src/vclient/services/user_lookup.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_user_lookup.py
  tests/unit/models/test_user_lookup.py
Due: ty, pytest

bump(release): v1.20.1 → v1.21.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

