Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

.pre-commit-config.yaml:

---
# https://pre-commit.com
default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit, manual]
fail_fast: true
repos:
  - repo: "https://github.com/commitizen-tools/commitizen"
    rev: v4.12.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [pre-push]

  - repo: "https://github.com/pre-commit/pygrep-hooks"
    rev: v1.10.0
    hooks:
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

    # Use this hook over check-json because it supports comments in JSON5.
  - repo: "https://gitlab.com/bmares/check-json5"
    rev: v1.0.1
    hooks:
      - id: check-json5
        exclude: .devcontainer/|.vscode/

  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      # - id: check-json
      # exclude: .devcontainer/|.vscode/
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        types: [python]

  - repo: "https://github.com/adrienverge/yamllint.git"
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: ^.*\.(yaml|yml)$
        entry: yamllint --strict --config-file .yamllint.yml

  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: v0.14.13
    hooks:
      - id: ruff-check
      - id: ruff-format
        args: [--check]

  - repo: "https://github.com/adhtruong/mirrors-typos"
    rev: v1.42.1
    hooks:
      - id: typos
        args: ["--force-exclude"]
        stages: [commit-msg, pre-commit]

  # - repo: "https://github.com/gitleaks/gitleaks"
  #   rev: v8.30.0
  #   hooks:
  #     - id: gitleaks

  - repo: "https://github.com/python-jsonschema/check-jsonschema"
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]

  - repo: "https://github.com/crate-ci/committed"
    rev: v1.1.10
    hooks:
      - id: committed
        stages: [commit-msg]

  - repo: "https://github.com/tsvikas/sync-with-uv"
    rev: v0.5.0
    hooks:
      - id: sync-with-uv

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck --check-sourced --severity=warning
        language: system
        types: [shell]

      - id: ty
        name: ty
        entry: ty check src/
        exclude: "tests/|duties.py|scripts/"
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: duty test
        language: system
        pass_filenames: false
        files: |
          (?x)^(
          src/|
          tests/|
          uv\.lock|
          pyproject\.toml
          )

feat(campaign-books): add child-resource count fields to book response
  docs/models/campaign_books.md
  src/vclient/models/books.py
  tests/unit/models/test_books.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

feat(chapters): add child-resource count fields to CampaignChapter
  docs/models/campaign_chapters.md
  src/vclient/models/chapters.py
  tests/unit/models/test_chapters.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

feat(characters): add child-resource count fields to Character
  docs/models/characters.md
  src/vclient/models/characters.py
  tests/unit/models/test_characters.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

docs(characters): align character model table columns
  docs/models/characters.md
Due: none

feat(users): add child-resource count fields to user response
  docs/models/users.md
  src/vclient/models/users.py
  tests/unit/models/test_users.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

docs(users): document count fields on admin user table
  docs/models/users.md
  tests/unit/models/test_users.py
Due: pytest

feat: add child-resource count fields to response models (#75)
  docs/models/campaign_books.md
  docs/models/campaign_chapters.md
  docs/models/campaigns.md
  docs/models/characters.md
  docs/models/users.md
  src/vclient/models/books.py
  src/vclient/models/campaigns.py
  src/vclient/models/chapters.py
  src/vclient/models/characters.py
  src/vclient/models/users.py
  tests/unit/models/test_books.py
  tests/unit/models/test_campaigns.py
  tests/unit/models/test_chapters.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_users.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest

bump(release): v2.3.0 → v2.4.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(logging): emit one log line per request by default
  docs/configuration.md
  src/vclient/__init__.py
  src/vclient/_sync/services/base.py
  src/vclient/services/base.py
  tests/integration/test_logging.py
Due: ty, pytest

bump(release): v2.4.0 → v2.4.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(logging): include query params in request log lines
  docs/configuration.md
  src/vclient/_sync/services/base.py
  src/vclient/services/base.py
  tests/integration/test_logging.py
Due: ty, pytest

bump(release): v2.4.1 → v2.4.2
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(pagination): raise limit cap to 1000 on reference endpoints
  docs/services/character_blueprint.md
  docs/services/dictionary.md
  docs/services/index.md
  src/vclient/_sync/services/base.py
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/_sync/services/dictionary.py
  src/vclient/constants.py
  src/vclient/services/base.py
  src/vclient/services/character_blueprint.py
  src/vclient/services/dictionary.py
  tests/integration/services/test_base.py
  tests/integration/services/test_character_blueprint.py
  tests/integration/services/test_dictionary.py
  vclient-guide-skill/SKILL.md
  vclient-guide-skill/references/constants.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

bump(release): v2.4.2 → v2.5.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(users): add apple_profile to user models and responses
  docs/models/users.md
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_users.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

feat(user-lookup): add by_apple_id lookup method
  docs/services/user_lookup.md
  src/vclient/_sync/services/user_lookup.py
  src/vclient/services/user_lookup.py
  tests/integration/services/test_user_lookup.py
  vclient-guide-skill/references/services.md
Due: ty, pytest

feat(registration): accept apple_profile during SSO registration
  docs/services/user_self_registration.md
  src/vclient/_sync/services/user_self_registration.py
  src/vclient/services/user_self_registration.py
  tests/integration/services/test_user_self_registration.py
  vclient-guide-skill/references/services.md
Due: ty, pytest

feat(testing): add AppleProfileFactory to the fake client toolkit
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
Due: ty, pytest

docs(users): complete provider lists in docstrings and references
  docs/models/users.md
  docs/testing.md
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/users.py
  src/vclient/registry.py
  src/vclient/services/users.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

test(users): align apple fixture ids with sibling provider style
  tests/unit/models/test_users.py
Due: pytest

docs(testing): sync factory reference table with actual exports
  docs/testing.md
Due: none

feat: support Apple as a third-party auth provider (#76)
  docs/models/users.md
  docs/services/user_lookup.md
  docs/services/user_self_registration.md
  docs/testing.md
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/user_lookup.py
  src/vclient/_sync/services/user_self_registration.py
  src/vclient/_sync/services/users.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/registry.py
  src/vclient/services/user_lookup.py
  src/vclient/services/user_self_registration.py
  src/vclient/services/users.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  tests/integration/services/test_user_lookup.py
  tests/integration/services/test_user_self_registration.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_users.py
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

bump(release): v2.5.0 → v2.6.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(exceptions): add 422 error type and machine-readable code
  pyproject.toml
  src/vclient/_sync/services/base.py
  src/vclient/exceptions.py
  src/vclient/services/base.py
  tests/integration/services/test_base.py
  tests/unit/test_exceptions.py
Due: ty, pytest

feat(models): add identity resolution models and provider constants
  src/vclient/constants.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  tests/unit/models/test_users.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(identity): resolve verified provider logins to users
  src/vclient/_codegen.py
  src/vclient/_sync/client.py
  src/vclient/_sync/services/__init__.py
  src/vclient/_sync/services/identity.py
  src/vclient/client.py
  src/vclient/endpoints.py
  src/vclient/services/__init__.py
  src/vclient/services/identity.py
  tests/integration/services/test_identity.py
Due: ty, pytest

feat(users): link additional provider identities to a user
  src/vclient/_sync/services/users.py
  src/vclient/services/users.py
  tests/integration/services/test_users.py
Due: ty, pytest

feat(identity): add identity_service factory and sync client
  src/vclient/__init__.py
  src/vclient/_codegen.py
  src/vclient/_sync/__init__.py
  src/vclient/_sync/registry.py
  src/vclient/registry.py
  tests/unit/test_registry.py
Due: ty, pytest

feat(testing): fake routes for identity resolution endpoints
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/testing/test_fake_client.py
  tests/integration/testing/test_sync_routes.py
  tests/unit/testing/test_factories.py
Due: ty, pytest

docs(identity): document verified identity resolution
  CLAUDE.md
  docs/errors.md
  docs/models/index.md
  docs/models/users.md
  docs/services/identity.md
  docs/services/users.md
  docs/sync-client.md
  docs/testing.md
Due: none

docs(skill): cover identity resolution in vclient guide
  vclient-guide-skill/SKILL.md
  vclient-guide-skill/references/constants.md
  vclient-guide-skill/references/error-handling.md
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: none

docs(exceptions): list code and request ID in error string docs
  src/vclient/exceptions.py
Due: ty, pytest

style(testing): keep user statistics route in the users grouping
  src/vclient/testing/_routes.py
Due: ty, pytest

docs: mention the code property in the exceptions overview
  CLAUDE.md
Due: none

fix(client): keep error mapping intact for non-RFC 9457 bodies
  src/vclient/_sync/services/base.py
  src/vclient/services/base.py
  tests/integration/services/test_base.py
Due: ty, pytest

feat(testing): let set_error simulate machine-readable error codes
  docs/testing.md
  src/vclient/_sync/testing/_client.py
  src/vclient/testing/_client.py
  tests/integration/testing/test_fake_client.py
  vclient-guide-skill/references/error-handling.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

test(identity): derive resolution cases from Literal, reuse payload
  tests/integration/services/test_identity.py
  tests/unit/models/test_users.py
Due: pytest

docs(skill): fix broken set_error example in error handling guide
  vclient-guide-skill/references/error-handling.md
Due: none

feat(developers): register per-developer OIDC provider audiences
  docs/models/developers.md
  docs/services/developers.md
  docs/services/global_admin.md
  src/vclient/_sync/services/developers.py
  src/vclient/_sync/services/global_admin.py
  src/vclient/constants.py
  src/vclient/models/__init__.py
  src/vclient/models/developers.py
  src/vclient/models/global_admin.py
  src/vclient/models/shared.py
  src/vclient/services/developers.py
  src/vclient/services/global_admin.py
  tests/integration/services/test_developers.py
  tests/integration/services/test_global_admin.py
  tests/unit/models/test_developers.py
  tests/unit/models/test_global_admin.py
  tests/unit/test_validate_constants.py
  vclient-guide-skill/references/constants.md
  vclient-guide-skill/references/models.md
Due: ty, pytest
