Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

fix(character_trait): add name to CharacterTraitValueOption (#36)
  docs/models/character_traits.md
  src/vclient/models/character_trait.py
  tests/integration/services/test_character_traits.py
Due: ty, pytest

bump(release): v1.7.0 → v1.7.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

test(character_traits): add test for delete with currency param
  docs/models/character_traits.md
  docs/services/character_traits.md
  src/vclient/services/character_traits.py
  tests/integration/services/test_character_traits.py
Due: ty, pytest

fix(character_trait): delete with currency param (#37)
  docs/models/character_traits.md
  docs/services/character_traits.md
  src/vclient/services/character_traits.py
  tests/integration/services/test_character_traits.py
Due: ty, pytest

bump(release): v1.7.1 → v1.7.2
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(character-trait): return full trait in value-options response
  .github/workflows/create-release.yml
  docs/models/character_traits.md
  src/vclient/models/character_trait.py
  tests/integration/services/test_character_traits.py
Due: ty, pytest

bump(release): v1.7.2 → v1.7.3
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

ci: fix release workflow
  .github/workflows/create-release.yml
Due: none

fix(blueprint): require sheet section id in Trait model
  docs/models/character_traits.md
  src/vclient/models/shared.py
  tests/unit/models/test_character_trait.py
Due: ty, pytest

bump(release): v1.7.3 → v1.7.4
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

build(deps): update dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest

fix(character-trait): update the sync client
  src/vclient/_sync/services/character_traits.py
Due: ty, pytest

build(deps): add polyfactory as optional testing dependency
  pyproject.toml
  uv.lock
Due: pytest

feat(testing): add polyfactory model factories
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  tests/unit/testing/__init__.py
  tests/unit/testing/test_factories.py
Due: ty, pytest

fix(pre-commit): use uv run for local hooks
  .pre-commit-config.yaml
Due: none

feat(testing): add fake HTTP router for all endpoints
  src/vclient/testing/_router.py
  tests/unit/testing/test_router.py
Due: ty, pytest

feat(testing): add FakeVClient with mock transport
  src/vclient/testing/__init__.py
  src/vclient/testing/_client.py
  src/vclient/testing/_router.py
  tests/integration/testing/__init__.py
  tests/integration/testing/test_fake_client.py
Due: ty, pytest

feat(testing): add SyncFakeVClient via codegen pipeline
  src/vclient/_codegen.py
  src/vclient/_sync/testing/__init__.py
  src/vclient/_sync/testing/_client.py
  src/vclient/testing/__init__.py
  tests/integration/testing/test_sync_fake_client.py
Due: ty, pytest

docs(claude-md): add testing module section
  CLAUDE.md
Due: none

docs(testing): add public-facing documentation
  docs/index.md
  docs/testing.md
Due: none

feat(testing): add vclient.testing module with fake client (#38)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/index.md
  docs/testing.md
  pyproject.toml
  src/vclient/_codegen.py
  src/vclient/_sync/testing/__init__.py
  src/vclient/_sync/testing/_client.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_client.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  tests/integration/testing/__init__.py
  tests/integration/testing/test_fake_client.py
  tests/integration/testing/test_sync_fake_client.py
  tests/unit/testing/__init__.py
  tests/unit/testing/test_factories.py
  tests/unit/testing/test_router.py
  uv.lock
Due: ty, pytest

bump(release): v1.7.4 → v1.8.0
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(character-traits): add CharacterTraitAdd model
  docs/models/character_traits.md
  docs/services/character_traits.md
  src/vclient/_sync/services/character_traits.py
  src/vclient/models/__init__.py
  src/vclient/models/character_trait.py
  src/vclient/services/character_traits.py
  tests/integration/services/test_character_traits.py
  tests/unit/models/test_character_trait.py
Due: ty, pytest

feat(character-traits): add CharacterTraitAdd model (#39)
  docs/models/character_traits.md
  docs/services/character_traits.md
  src/vclient/_sync/services/character_traits.py
  src/vclient/models/__init__.py
  src/vclient/models/character_trait.py
  src/vclient/services/character_traits.py
  tests/integration/services/test_character_traits.py
  tests/unit/models/test_character_trait.py
Due: ty, pytest

bump(release): v1.8.0 → v1.9.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(testing): default UserFactory role to "PLAYER"
  src/vclient/testing/_factories.py
Due: ty, pytest

fix(models): make User.role a required field
  src/vclient/models/users.py
  tests/unit/models/test_users.py
Due: ty, pytest

docs(models): update User.role type to non-optional
  docs/models/users.md
Due: none

fix(models): make User.role a required field (#40)
  docs/models/users.md
  src/vclient/models/users.py
  src/vclient/testing/_factories.py
  tests/unit/models/test_users.py
Due: ty, pytest

feat(testing): add RouteSpec and Routes constants
  src/vclient/testing/_routes.py
Due: ty, pytest

feat(testing): add set_response and set_error to FakeVClient
  src/vclient/testing/_client.py
  tests/integration/testing/test_routes.py
Due: ty, pytest

fix(testing): use Sequence type for set_response items param
  src/vclient/testing/_client.py
Due: ty, pytest

feat(testing): export Routes and RouteSpec from vclient.testing
  src/vclient/testing/__init__.py
Due: ty, pytest

build(codegen): regenerate sync client with set_response/set_error
  src/vclient/_sync/testing/_client.py
Due: ty, pytest

test(testing): add sync and completeness tests for Routes
  tests/integration/testing/test_sync_routes.py
  tests/unit/testing/test_routes_completeness.py
Due: pytest

docs(testing): update docs with set_response/set_error API
  docs/testing.md
Due: none

docs: update CLAUDE.md with Routes and set_response guidance
  CLAUDE.md
Due: none

refactor(testing): unify route definitions
  CLAUDE.md
  src/vclient/_sync/testing/_client.py
  src/vclient/testing/_client.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/unit/testing/test_routes_completeness.py
Due: ty, pytest

ci(pre-commit): add generate-sync hook for Python changes
  .pre-commit-config.yaml
Due: none

feat(testing): add set_response/set_error API for FakeVClient (#41)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/testing.md
  src/vclient/_sync/testing/_client.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_client.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/testing/test_routes.py
  tests/integration/testing/test_sync_routes.py
Due: ty, pytest

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

