Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

feat(client): add User-Agent header to HTTP requests (#19)
  pyproject.toml
  src/vclient/__init__.py
  src/vclient/client.py
Due: ty, pytest

feat(constants): add DEFAULT_RETRY_STATUSES and IDEMPOTENT_HTTP_METHODS
  src/vclient/constants.py
Due: ty, pytest

feat(config): add retry_statuses field to _APIConfig
  src/vclient/config.py
Due: ty, pytest

feat(client): add retry_statuses parameter to VClient
  src/vclient/client.py
Due: ty, pytest

test(retry): add failing tests for 5xx and network error retry
  tests/integration/services/test_base.py
Due: pytest

feat(retry): add retry on transient 5xx and network errors
  src/vclient/services/base.py
Due: ty, pytest

refactor(base): unify _post_file() to delegate to _request()
  src/vclient/services/base.py
Due: ty, pytest

feat(retry): add retry on transient 5xx and network errors (#20)
  src/vclient/client.py
  src/vclient/config.py
  src/vclient/constants.py
  src/vclient/services/base.py
  tests/integration/services/test_base.py
Due: ty, pytest

fix(client): clear default client on close
  src/vclient/client.py
  src/vclient/registry.py
  tests/unit/test_registry.py
Due: ty, pytest

fix(client): clear default client on close (#21)
  src/vclient/client.py
  src/vclient/registry.py
  tests/unit/test_registry.py
Due: ty, pytest

docs(logging): add structured logging design document
  docs/plans/2026-02-19-structured-logging-design.md
Due: none

docs(logging): add structured logging implementation plan
  docs/plans/2026-02-19-structured-logging-plan.md
Due: none

feat(logging): add loguru dependency
  pyproject.toml
  uv.lock
Due: pytest

feat(logging): add structured logging to vclient
  src/vclient/__init__.py
  src/vclient/client.py
  src/vclient/services/base.py
Due: ty, pytest

test(logging): add tests for structured logging
  tests/integration/test_logging.py
Due: pytest

refactor(logging): fix review findings
  src/vclient/services/base.py
  tests/integration/test_logging.py
Due: ty, pytest

docs: delete completed plans
  docs/plans/2026-02-19-structured-logging-design.md
Due: none

feat(logging): add structured logging with loguru (#22)
  docs/plans/2026-02-19-structured-logging-plan.md
  pyproject.toml
  src/vclient/__init__.py
  src/vclient/client.py
  src/vclient/services/base.py
  tests/integration/test_logging.py
  uv.lock
Due: ty, pytest

Delete docs/plans/2026-02-19-structured-logging-plan.md
  docs/plans/2026-02-19-structured-logging-plan.md
Due: none

bump(release): v1.2.1 → v1.3.0
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix: rename .env.secrets to .env.secret
  .gitignore
  .typos.toml
  CLAUDE.md
  README.md
  scripts/validate_constants.py
Due: none

fix: rename .env.secrets to .env.secret (#23)
  .gitignore
  .typos.toml
  CLAUDE.md
  README.md
  scripts/validate_constants.py
Due: none

refactor(logging): use structured fields over formatted messages
  scripts/validate_constants.py
  src/vclient/client.py
  src/vclient/services/base.py
  tests/integration/test_logging.py
Due: ty, pytest

refactor(logging): use structured fields over formatted messages (#24)
  scripts/validate_constants.py
  src/vclient/client.py
  src/vclient/services/base.py
  tests/integration/test_logging.py
Due: ty, pytest

docs: map existing codebase
  .gitignore
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
  pyproject.toml
Due: pytest

fix(models): use Annotated types for optional field constraints
  src/vclient/models/campaigns.py
  src/vclient/models/characters.py
  src/vclient/models/companies.py
  src/vclient/models/shared.py
  src/vclient/models/users.py
Due: ty, pytest

test(models): add tests for None on constrained optional fields
  tests/unit/models/test_campaigns.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_companies.py
  tests/unit/models/test_shared.py
  tests/unit/models/test_users.py
Due: pytest

fix(models): use Annotated types for optional field constraints (#25)
  src/vclient/models/campaigns.py
  src/vclient/models/characters.py
  src/vclient/models/companies.py
  src/vclient/models/shared.py
  src/vclient/models/users.py
  tests/unit/models/test_campaigns.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_companies.py
  tests/unit/models/test_shared.py
  tests/unit/models/test_users.py
Due: ty, pytest

bump(release): v1.3.0 → v1.3.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(character-trait): fix endpoint
  src/vclient/services/character_traits.py
  tests/integration/services/test_character_traits.py
Due: ty, pytest

bump(release): v1.3.1 → v1.3.2
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(http): remove hardcoded Content-Type header
  src/vclient/client.py
  src/vclient/services/base.py
  tests/integration/test_client.py
Due: ty, pytest

fix(http): remove hardcoded Content-Type header (#26)
  src/vclient/client.py
  src/vclient/services/base.py
  tests/integration/test_client.py
Due: ty, pytest

feat(services): infer MIME type from filename in upload_asset
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/characters.py
  src/vclient/services/users.py
Due: ty, pytest

feat(services): infer MIME type from filename in upload_asset (#27)
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/characters.py
  src/vclient/services/users.py
Due: ty, pytest

bump(release): v1.3.2 → v1.4.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

refactor(models): rename Asset to be backend agnostic
  .planning/codebase/INTEGRATIONS.md
  src/vclient/constants.py
  src/vclient/models/__init__.py
  src/vclient/models/shared.py
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/characters.py
  src/vclient/services/users.py
  src/vclient/validate_constants.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_campaigns.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_users.py
  tests/unit/models/test_shared.py
  tests/unit/models/test_users.py
Due: ty, pytest

bump(release): v1.4.0 → v1.4.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

docs(plans): add asset listing methods design
  docs/plans/2026-02-22-asset-listing-methods-design.md
Due: none

docs(plans): add asset listing methods implementation plan
  docs/plans/2026-02-22-asset-listing-methods.md
Due: none

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

