Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

feat(campaigns): add asset listing methods
  src/vclient/services/campaigns.py
  tests/integration/services/test_campaigns.py
Due: ty, pytest

feat(characters): add get_assets_page, list_all_assets, iter_all_assets
  src/vclient/services/characters.py
  tests/integration/services/test_characters.py
Due: ty, pytest

feat(services): add get_assets_page, list_all_assets, iter_all_assets
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/users.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_users.py
Due: ty, pytest

docs(plans): remove design and plan docs from PR
  docs/plans/2026-02-22-asset-listing-methods-design.md
  docs/plans/2026-02-22-asset-listing-methods.md
Due: none

feat: add get_assets_page, list_all_assets, iter_all_assets to all services (#28)
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/characters.py
  src/vclient/services/users.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_campaigns.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_users.py
Due: ty, pytest

docs(models): split models.md into per-service pages
  docs/configuration.md
  docs/errors.md
  docs/index.md
  docs/models/campaign_books.md
  docs/models/campaign_chapters.md
  docs/models/campaigns.md
  docs/models/character_blueprint.md
  docs/models/character_traits.md
  docs/models/characters.md
  docs/models/companies.md
  docs/models/developers.md
  docs/models/dice_rolls.md
  docs/models/dictionary.md
  docs/models/index.md
  docs/models/users.md
  docs/services/campaign_books.md
  docs/services/campaign_chapters.md
  docs/services/campaigns.md
  docs/services/character_autogen.md
  docs/services/character_blueprint.md
  docs/services/character_traits.md
  docs/services/characters.md
  docs/services/companies.md
  docs/services/developers.md
  docs/services/dice_rolls.md
  docs/services/dictionary.md
  docs/services/global_admin.md
  docs/services/index.md
  docs/services/options.md
  docs/services/system.md
  docs/services/users.md
Due: none

docs(models): move shared models to dedicated page
  docs/models/index.md
  docs/models/shared.md
  docs/models/users.md
Due: none

docs: add public facing documentation
  .github/workflows/deploy-docs.yml
  .gitignore
  CLAUDE.md
  docs/index.md
  docs/models/campaign_books.md
  docs/models/campaign_chapters.md
  docs/models/campaigns.md
  docs/models/character_traits.md
  docs/models/characters.md
  docs/models/companies.md
  docs/models/developers.md
  docs/models/dice_rolls.md
  docs/models/dictionary.md
  docs/models/index.md
  docs/models/shared.md
  docs/models/users.md
  docs/services/campaigns.md
  docs/services/characters.md
  docs/services/dictionary.md
  docs/services/index.md
  docs/services/system.md
  docs/services/users.md
  pyproject.toml
  src/vclient/models/shared.py
  uv.lock
  zensical.toml
Due: ty, pytest

docs: add public facing documentation (#29)
  .github/workflows/deploy-docs.yml
  .gitignore
  CLAUDE.md
  docs/configuration.md
  docs/errors.md
  docs/index.md
  docs/models/campaign_books.md
  docs/models/campaign_chapters.md
  docs/models/campaigns.md
  docs/models/character_blueprint.md
  docs/models/character_traits.md
  docs/models/characters.md
  docs/models/companies.md
  docs/models/developers.md
  docs/models/dice_rolls.md
  docs/models/dictionary.md
  docs/models/index.md
  docs/models/shared.md
  docs/models/users.md
  docs/services/campaign_books.md
  docs/services/campaign_chapters.md
  docs/services/campaigns.md
  docs/services/character_autogen.md
  docs/services/character_blueprint.md
  docs/services/character_traits.md
  docs/services/characters.md
  docs/services/companies.md
  docs/services/developers.md
  docs/services/dice_rolls.md
  docs/services/dictionary.md
  docs/services/global_admin.md
  docs/services/index.md
  docs/services/options.md
  docs/services/system.md
  docs/services/users.md
  pyproject.toml
  src/vclient/models/shared.py
  uv.lock
  zensical.toml
Due: ty, pytest

docs: update readme
  README.md
Due: none

bump(release): v1.4.1 → v1.5.0
  CHANGELOG.md
  README.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(company): add resources_modified_at field
  docs/models/companies.md
  src/vclient/models/companies.py
  tests/integration/services/test_companies.py
  tests/unit/models/test_companies.py
Due: ty, pytest

fix(company): add resources_modified_at field (#30)
  docs/models/companies.md
  src/vclient/models/companies.py
  tests/integration/services/test_companies.py
  tests/unit/models/test_companies.py
Due: ty, pytest

bump(release): v1.5.0 → v1.5.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(user): support detailed name fields to model
  docs/models/users.md
  docs/services/users.md
  src/vclient/models/users.py
  tests/integration/services/test_companies.py
  tests/integration/services/test_users.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_users.py
Due: ty, pytest

fix(user): support detailed name fields (#31)
  docs/models/users.md
  docs/services/users.md
  src/vclient/models/users.py
  tests/integration/services/test_companies.py
  tests/integration/services/test_users.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_users.py
Due: ty, pytest

bump(release): v1.5.1 → v1.5.2
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(companies): add get_statistics method
  src/vclient/endpoints.py
  src/vclient/services/companies.py
Due: ty, pytest

test(companies): add get_statistics integration tests
  tests/integration/services/test_companies.py
Due: pytest

docs(companies): add get_statistics documentation
  docs/services/companies.md
Due: none

feat(companies): add get_statistics method (#32)
  docs/services/companies.md
  src/vclient/endpoints.py
  src/vclient/services/companies.py
  tests/integration/services/test_companies.py
Due: ty, pytest

bump(release): v1.5.2 → v1.6.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(models): add id to all response models
  src/vclient/models/books.py
  src/vclient/models/chapters.py
  src/vclient/models/characters.py
  tests/unit/models/test_books.py
  tests/unit/models/test_chapters.py
  tests/unit/models/test_characters.py
Due: ty, pytest

bump(release): v1.6.0 → v1.6.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(sync): add AST-based async-to-sync code generator
  src/vclient/_codegen.py
  tests/unit/test_codegen.py
Due: ty, pytest

fix(sync): address spec review feedback
  src/vclient/_codegen.py
  tests/unit/test_codegen.py
Due: ty, pytest

feat(sync): generate sync client files
  .pre-commit-config.yaml
  pyproject.toml
  src/vclient/_codegen.py
  src/vclient/_sync/__init__.py
  src/vclient/_sync/client.py
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/__init__.py
  src/vclient/_sync/services/base.py
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/_sync/services/campaign_books.py
  src/vclient/_sync/services/campaigns.py
  src/vclient/_sync/services/character_autogen.py
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/_sync/services/character_traits.py
  src/vclient/_sync/services/characters.py
  src/vclient/_sync/services/companies.py
  src/vclient/_sync/services/developers.py
  src/vclient/_sync/services/dicerolls.py
  src/vclient/_sync/services/dictionary.py
  src/vclient/_sync/services/global_admin.py
  src/vclient/_sync/services/options.py
  src/vclient/_sync/services/system.py
  src/vclient/_sync/services/users.py
Due: ty, pytest

feat(sync): export SyncVClient from vclient
  src/vclient/__init__.py
Due: ty, pytest

build(duties): add generate_sync task
  duties.py
Due: none

test(sync): add smoke tests for sync client
  tests/integration/test_sync_client.py
Due: pytest

feat(scripts): add sync client smoke test script
  scripts/test_sync_client.py
Due: none

fix(sync): format generated sync files with ruff
  duties.py
  src/vclient/_sync/client.py
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/__init__.py
  src/vclient/_sync/services/base.py
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/_sync/services/campaign_books.py
  src/vclient/_sync/services/campaigns.py
  src/vclient/_sync/services/character_autogen.py
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/_sync/services/character_traits.py
  src/vclient/_sync/services/characters.py
  src/vclient/_sync/services/companies.py
  src/vclient/_sync/services/developers.py
  src/vclient/_sync/services/dicerolls.py
  src/vclient/_sync/services/dictionary.py
  src/vclient/_sync/services/global_admin.py
  src/vclient/_sync/services/options.py
  src/vclient/_sync/services/system.py
  src/vclient/_sync/services/users.py
Due: ty, pytest

feat: add synchronous client (#34)
  .pre-commit-config.yaml
  duties.py
  pyproject.toml
  src/vclient/__init__.py
  src/vclient/_codegen.py
  src/vclient/_sync/__init__.py
  src/vclient/_sync/client.py
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/__init__.py
  src/vclient/_sync/services/base.py
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/_sync/services/campaign_books.py
  src/vclient/_sync/services/campaigns.py
  src/vclient/_sync/services/character_autogen.py
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/_sync/services/character_traits.py
  src/vclient/_sync/services/characters.py
  src/vclient/_sync/services/companies.py
  src/vclient/_sync/services/developers.py
  src/vclient/_sync/services/dicerolls.py
  src/vclient/_sync/services/dictionary.py
  src/vclient/_sync/services/global_admin.py
  src/vclient/_sync/services/options.py
  src/vclient/_sync/services/system.py
  src/vclient/_sync/services/users.py
  tests/integration/test_sync_client.py
  tests/unit/test_codegen.py
Due: ty, pytest

docs(claude): add sync client information
  CLAUDE.md
Due: none

docs(sync-client): add sync client documentation
  docs/configuration.md
  docs/index.md
  docs/services/index.md
  docs/sync-client.md
Due: none

docs(readme): mention sync client support
  README.md
  docs/models/characters.md
Due: none

docs: add sync client documentation (#35)
  CLAUDE.md
  README.md
  docs/configuration.md
  docs/index.md
  docs/models/characters.md
  docs/services/index.md
  docs/sync-client.md
Due: none

build(deps): update dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest

bump(release): v1.6.1 → v1.7.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(character_trait): add name to CharacterTraitValueOption
  docs/models/character_traits.md
  src/vclient/models/character_trait.py
  tests/integration/services/test_character_traits.py
Due: ty, pytest

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

