Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

bump(release): v1.15.0 → v1.15.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest

test(blueprint): remove hunter edge tests and update trait fixture
  tests/integration/services/test_character_blueprint.py
Due: pytest

refactor: migrate hunter edges to trait system
  src/vclient/_sync/client.py
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/_sync/services/characters.py
  src/vclient/client.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/character_blueprint.py
  src/vclient/models/characters.py
  src/vclient/models/shared.py
  src/vclient/services/character_blueprint.py
  src/vclient/services/characters.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_character_traits.py
  tests/integration/services/test_characters.py
  tests/unit/models/test_characters.py
  tests/unit/testing/test_factories.py
Due: ty, pytest

docs: remove hunter edge/perk references from documentation
  docs/models/character_blueprint.md
  docs/models/character_traits.md
  docs/models/characters.md
  docs/services/character_blueprint.md
  docs/services/characters.md
  docs/testing.md
Due: none

fix(tests): remove hunter edge URLs from options test fixture
  tests/integration/services/test_options.py
Due: pytest

refactor: migrate hunter edges to trait system (#48)
  .pre-commit-config.yaml
  docs/models/character_blueprint.md
  docs/models/character_traits.md
  docs/models/characters.md
  docs/services/character_blueprint.md
  docs/services/characters.md
  docs/testing.md
  pyproject.toml
  src/vclient/_sync/client.py
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/_sync/services/characters.py
  src/vclient/client.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/character_blueprint.py
  src/vclient/models/characters.py
  src/vclient/models/shared.py
  src/vclient/services/character_blueprint.py
  src/vclient/services/characters.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_character_blueprint.py
  tests/integration/services/test_character_traits.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_options.py
  tests/unit/models/test_characters.py
  tests/unit/testing/test_factories.py
  uv.lock
Due: ty, pytest

feat(models): add TraitSubcategory model and endpoint constants
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/character_blueprint.py
  tests/unit/models/test_character_blueprint.py
Due: ty, pytest

feat(services): add subcategory methods to CharacterBlueprintService
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/services/character_blueprint.py
Due: ty, pytest

test(services): add integration tests for blueprint subcategory methods
  tests/integration/services/test_character_blueprint.py
Due: pytest

feat(testing): add TraitSubcategory factory and route constants
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
Due: ty, pytest

docs: add blueprint subcategory model and service documentation
  docs/models/character_blueprint.md
  docs/services/character_blueprint.md
Due: none

feat: add blueprint subcategory endpoints (#49)
  docs/models/character_blueprint.md
  docs/services/character_blueprint.md
  src/vclient/_sync/services/character_blueprint.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/character_blueprint.py
  src/vclient/services/character_blueprint.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_character_blueprint.py
  tests/unit/models/test_character_blueprint.py
Due: ty, pytest

feat(models): add full sheet response models and endpoint
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/full_sheet.py
  tests/unit/models/test_full_sheet.py
Due: ty, pytest

feat(characters): add get_full_sheet() service method
  src/vclient/_sync/services/characters.py
  src/vclient/services/characters.py
  tests/integration/services/test_characters.py
Due: ty, pytest

feat(testing): add full sheet route, factories, and exports
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
Due: ty, pytest

docs: add full sheet endpoint and model documentation
  docs/models/characters.md
  docs/services/characters.md
Due: none

feat(characters): add full character sheet endpoint (#50)
  docs/models/characters.md
  docs/services/characters.md
  src/vclient/_sync/services/characters.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/full_sheet.py
  src/vclient/services/characters.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_characters.py
  tests/unit/models/test_full_sheet.py
Due: ty, pytest

feat(models): add available_traits field to full sheet models
  src/vclient/models/full_sheet.py
  tests/unit/models/test_full_sheet.py
Due: ty, pytest

feat(endpoints): add CHARACTER_FULL_SHEET_CATEGORY endpoint
  src/vclient/endpoints.py
Due: ty, pytest

feat(characters): add include_available_traits param and category endpoint
  src/vclient/_sync/services/characters.py
  src/vclient/services/characters.py
  tests/integration/services/test_characters.py
Due: ty, pytest

feat(testing): add full sheet category route and factory mapping
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
Due: ty, pytest

docs(characters): document available_traits and category endpoint
  docs/models/characters.md
  docs/services/characters.md
Due: none

refactor(tests): deduplicate full sheet test fixtures
  tests/integration/services/test_characters.py
Due: pytest

test(sync): add smoke tests for sync full sheet methods
  tests/integration/test_sync_client.py
Due: pytest

feat(characters): add available traits and category endpoint (#51)
  docs/models/characters.md
  docs/services/characters.md
  src/vclient/_sync/services/characters.py
  src/vclient/endpoints.py
  src/vclient/models/full_sheet.py
  src/vclient/services/characters.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_characters.py
  tests/integration/test_sync_client.py
  tests/unit/models/test_full_sheet.py
Due: ty, pytest

bump(release): v1.15.1 → v1.16.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

fix(character): add concept_name to character model
  docs/models/characters.md
  src/vclient/models/characters.py
Due: ty, pytest

bump(release): v1.16.0 → v1.16.1
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(characters): add is_temporary field and filter
  docs/models/characters.md
  docs/services/characters.md
  src/vclient/_sync/services/characters.py
  src/vclient/models/characters.py
  src/vclient/services/characters.py
Due: ty, pytest

test(characters): add is_temporary test coverage
  tests/integration/services/test_characters.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_characters.py
Due: pytest

feat(characters): add is_temporary field and filter (#52)
  docs/models/characters.md
  docs/services/characters.md
  src/vclient/_sync/services/characters.py
  src/vclient/models/characters.py
  src/vclient/services/characters.py
  tests/integration/services/test_characters.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_characters.py
Due: ty, pytest

bump(release): v1.16.1 → v1.17.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(models): add bulk assign trait response models
  src/vclient/models/__init__.py
  src/vclient/models/character_trait.py
  tests/unit/models/test_character_trait.py
Due: ty, pytest

refactor(base): widen json param type and add bulk-assign endpoint
  src/vclient/_sync/services/base.py
  src/vclient/endpoints.py
  src/vclient/services/base.py
Due: ty, pytest

feat(character-traits): add bulk_assign() service method
  src/vclient/_sync/services/character_traits.py
  src/vclient/services/character_traits.py
  tests/integration/services/test_character_traits.py
Due: ty, pytest

feat(testing): add bulk assign route, factories, and exports
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
Due: ty, pytest

docs(character-traits): document bulk_assign method and response models
  docs/models/character_traits.md
  docs/services/character_traits.md
Due: none

refactor: consolidate fixtures and clean up
  src/vclient/_sync/services/character_traits.py
  src/vclient/services/character_traits.py
  tests/integration/services/test_character_traits.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_character_trait.py
Due: ty, pytest

feat(character-traits): add bulk_assign() method (#53)
  docs/models/character_traits.md
  docs/services/character_traits.md
  src/vclient/_sync/services/base.py
  src/vclient/_sync/services/character_traits.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/character_trait.py
  src/vclient/services/base.py
  src/vclient/services/character_traits.py
  src/vclient/testing/__init__.py
  src/vclient/testing/_factories.py
  src/vclient/testing/_router.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_character_traits.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_character_trait.py
Due: ty, pytest

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

