Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

docs(identity): explain per-developer OIDC audience registration
  docs/models/developers.md
  docs/services/developers.md
  docs/services/identity.md
  vclient-guide-skill/SKILL.md
  vclient-guide-skill/references/services.md
Due: none

feat(constants): validate identity enums against the options endpoint
  docs/services/options.md
  src/vclient/constants.py
  src/vclient/validate_constants.py
  tests/unit/test_validate_constants.py
  vclient-guide-skill/references/constants.md
Due: ty, pytest

fix(constants): exclude the autogen percentile table from drift checks
  src/vclient/validate_constants.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

build: update validation script
  scripts/validate_constants.py
Due: none

feat(users): remove unverified user registration and profile writes
  CLAUDE.md
  docs/models/users.md
  docs/services/identity.md
  docs/services/user_self_registration.md
  docs/services/users.md
  docs/sync-client.md
  src/vclient/__init__.py
  src/vclient/_codegen.py
  src/vclient/_sync/__init__.py
  src/vclient/_sync/client.py
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/__init__.py
  src/vclient/_sync/services/user_self_registration.py
  src/vclient/_sync/services/users.py
  src/vclient/client.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/registry.py
  src/vclient/services/__init__.py
  src/vclient/services/user_self_registration.py
  src/vclient/services/users.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_user_self_registration.py
  tests/integration/services/test_users.py
  tests/unit/models/test_users.py
  vclient-guide-skill/SKILL.md
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

feat(users): remove unverified user registration and profile writes (#78)
  CLAUDE.md
  docs/models/users.md
  docs/services/identity.md
  docs/services/user_self_registration.md
  docs/services/users.md
  docs/sync-client.md
  src/vclient/__init__.py
  src/vclient/_codegen.py
  src/vclient/_sync/__init__.py
  src/vclient/_sync/client.py
  src/vclient/_sync/registry.py
  src/vclient/_sync/services/__init__.py
  src/vclient/_sync/services/user_self_registration.py
  src/vclient/_sync/services/users.py
  src/vclient/client.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/registry.py
  src/vclient/services/__init__.py
  src/vclient/services/user_self_registration.py
  src/vclient/services/users.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_user_self_registration.py
  tests/integration/services/test_users.py
  tests/unit/models/test_users.py
  vclient-guide-skill/SKILL.md
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest

bump(release): v2.6.0 → v2.7.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(users): add unlink_identity to disconnect a provider
  docs/errors.md
  docs/services/users.md
  src/vclient/_sync/services/users.py
  src/vclient/endpoints.py
  src/vclient/services/users.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_users.py
  tests/integration/testing/test_fake_client.py
  tests/integration/testing/test_sync_routes.py
  vclient-guide-skill/SKILL.md
  vclient-guide-skill/references/error-handling.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

feat(users): add unlink_identity to disconnect a provider (#79)
  docs/errors.md
  docs/services/users.md
  src/vclient/_sync/services/users.py
  src/vclient/endpoints.py
  src/vclient/services/users.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_users.py
  tests/integration/testing/test_fake_client.py
  tests/integration/testing/test_sync_routes.py
  vclient-guide-skill/SKILL.md
  vclient-guide-skill/references/error-handling.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

bump(release): v2.7.0 → v2.8.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(users): add avatar_url to user responses
  src/vclient/models/users.py
  tests/unit/models/test_users.py
Due: ty, pytest

feat(users): add user avatar endpoint path
  src/vclient/endpoints.py
Due: ty, pytest

feat(client): add PUT multipart upload helper
  src/vclient/_sync/services/base.py
  src/vclient/services/base.py
Due: ty, pytest

feat(users): add upload_avatar and delete_avatar methods
  src/vclient/_sync/services/users.py
  src/vclient/services/users.py
  tests/integration/services/test_users.py
Due: ty, pytest

docs(assets): note image-only uploads on upload_asset
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/_sync/services/campaign_books.py
  src/vclient/_sync/services/campaigns.py
  src/vclient/_sync/services/characters.py
  src/vclient/_sync/services/users.py
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/characters.py
  src/vclient/services/users.py
Due: ty, pytest

feat(testing): register avatar routes in fake client
  src/vclient/testing/_routes.py
  tests/integration/testing/test_fake_client.py
Due: ty, pytest

docs(users): document avatars and image-only uploads
  docs/models/shared.md
  docs/models/users.md
  docs/services/users.md
Due: none

docs(skill): document avatars and image-only uploads
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: none

refactor(client): accept idempotency_key in PUT file upload helper
  src/vclient/_sync/services/base.py
  src/vclient/services/base.py
Due: ty, pytest

feat(users): add user avatars and image-only asset uploads (#80)
  docs/models/shared.md
  docs/models/users.md
  docs/services/users.md
  src/vclient/_sync/services/base.py
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/_sync/services/campaign_books.py
  src/vclient/_sync/services/campaigns.py
  src/vclient/_sync/services/characters.py
  src/vclient/_sync/services/users.py
  src/vclient/endpoints.py
  src/vclient/models/users.py
  src/vclient/services/base.py
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/characters.py
  src/vclient/services/users.py
  src/vclient/testing/_routes.py
  tests/integration/services/test_users.py
  tests/integration/testing/test_fake_client.py
  tests/unit/models/test_users.py
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

bump(release): v2.8.0 → v2.9.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(deps)!: migrate from httpx to httpx2
  README.md
  docs/configuration.md
  docs/index.md
  docs/testing.md
  pyproject.toml
  src/vclient/_sync/client.py
  src/vclient/_sync/services/base.py
  src/vclient/_sync/testing/_client.py
  src/vclient/client.py
  src/vclient/services/base.py
  src/vclient/testing/_client.py
  src/vclient/testing/_router.py
  tests/conftest.py
  tests/integration/services/test_base.py
  tests/integration/test_client.py
  tests/integration/test_logging.py
  tests/unit/test_codegen.py
  tests/unit/testing/test_router.py
  uv.lock
  vclient-guide-skill/references/error-handling.md
Due: ty, pytest

bump(release): v2.9.0 → v3.0.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

feat(chapters): add character_ids to chapter models
  src/vclient/models/chapters.py
  tests/unit/models/test_chapters.py
Due: ty, pytest

test(chapters): keep character_ids parallel with asset_ids in tests
  tests/unit/models/test_chapters.py
Due: pytest

feat(books): expose read-only character_ids on book responses
  src/vclient/models/books.py
  tests/unit/models/test_books.py
Due: ty, pytest

test(books): keep character_ids parallel with asset_ids in fixtures
  tests/integration/services/test_campaign_books.py
  tests/unit/models/test_books.py
Due: pytest

feat(characters): expose read-only chapter_ids on character responses
  src/vclient/models/characters.py
  tests/unit/models/test_characters.py
Due: ty, pytest

test(characters): keep chapter_ids parallel with sibling id fields
  tests/shared_response_fixtures.py
  tests/unit/models/test_characters.py
Due: pytest

test(chapters): cover character_ids in chapter create and update
  tests/integration/services/test_campaign_book_chapters.py
Due: pytest

docs(chapters): document character_ids and chapter_ids fields
  docs/models/campaign_books.md
  docs/models/campaign_chapters.md
  docs/models/characters.md
  docs/services/campaign_chapters.md
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: none

docs(skill): mark chapter_ids and book character_ids read-only
  vclient-guide-skill/references/models.md
Due: none

docs(chapters): list character_ids in chapter service docstrings
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/services/campaign_book_chapters.py
  tests/unit/models/test_books.py
Due: ty, pytest

feat(chapters): add character associations to chapters and books (#81)
  docs/models/campaign_books.md
  docs/models/campaign_chapters.md
  docs/models/characters.md
  docs/services/campaign_chapters.md
  src/vclient/_sync/services/campaign_book_chapters.py
  src/vclient/models/books.py
  src/vclient/models/chapters.py
  src/vclient/models/characters.py
  src/vclient/services/campaign_book_chapters.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_books.py
  tests/unit/models/test_chapters.py
  tests/unit/models/test_characters.py
  vclient-guide-skill/references/models.md
  vclient-guide-skill/references/services.md
Due: ty, pytest

bump(release): v3.0.0 → v3.1.0
  CHANGELOG.md
  pyproject.toml
  src/vclient/__init__.py
  uv.lock
Due: ty, pytest

refactor(users): drop provider-profile writes from admin user models
  docs/models/users.md
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  tests/integration/services/test_users.py
  tests/unit/models/test_users.py
  vclient-guide-skill/references/models.md
Due: ty, pytest

build(deps): bump dependencies
  .github/workflows/commit-linter.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

