Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

fix(diceroll): rename create_from_quickroll method (#8)
  src/vclient/services/dicerolls.py
  tests/integration/services/test_dicerolls.py
Due: ty, pytest

bump(release): v1.0.2 → v1.0.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

feat(blueprint): add game_version filter to vampire clan methods
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

refactor(blueprint): use _build_params helper
  src/vclient/services/character_blueprint.py
Due: ty, pytest

feat(blueprint): add game_version filter to vampire clan methods (#9)
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

feat(blueprint): add game_version filter to werewolf methods
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

feat(blueprint): add filters to werewolf gift methods
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

feat(blueprint): add filters to werewolf methods (#10)
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

feat(blueprint): add edge_type filter to hunter edge methods
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

feat(blueprint): add edge_type filter to hunter edge methods (#11)
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

bump(release): v1.0.3 → v1.1.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

fix(models): expose _TraitAssign as public API
  src/vclient/models/__init__.py
  src/vclient/models/character_trait.py
  src/vclient/models/characters.py
  src/vclient/services/character_traits.py
  tests/integration/services/test_characters.py
  tests/unit/models/test_character_trait.py
  tests/unit/models/test_characters.py
Due: ty, pytest

fix(models): expose _TraitAssign as public API (#12)
  src/vclient/models/__init__.py
  src/vclient/models/character_trait.py
  src/vclient/models/characters.py
  src/vclient/services/character_traits.py
  tests/integration/services/test_characters.py
  tests/unit/models/test_character_trait.py
  tests/unit/models/test_characters.py
Due: ty, pytest

bump(release): v1.1.0 → v1.1.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

fix(url): fix typo in url
  src/vclient/endpoints.py
Due: ty, pytest

fix(experience): use requesting_user_id in body
  src/vclient/models/users.py
  src/vclient/services/users.py
  tests/integration/services/test_users.py
Due: ty, pytest

fix(experience): use requesting_user_id in body (#13)
  src/vclient/endpoints.py
  src/vclient/models/users.py
  src/vclient/services/users.py
  tests/integration/services/test_users.py
Due: ty, pytest

fix(endpoints): correct dictionary path and auspice typo
  src/vclient/endpoints.py
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

fix(endpoints): correct dictionary path and auspice typo (#14)
  src/vclient/endpoints.py
  src/vclient/services/character_blueprint.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

bump(release): v1.1.1 → v1.1.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

fix(character_trait): replace POST with PUT
  src/vclient/services/character_traits.py
  tests/integration/services/test_character_traits.py
Due: ty, pytest

docs: update claude.md
  CLAUDE.md
Due: none

feat(validate): add dataclasses and mapping table
  src/vclient/validate_constants.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(validate): add validate() comparison logic
  src/vclient/validate_constants.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(validate): add print_report for human-readable output
  pyproject.toml
  src/vclient/validate_constants.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(validate): add CLI script for constants validation
  pyproject.toml
  scripts/validate_constants.py
Due: pytest

feat(validate): add validate_constants duty task
  duties.py
Due: none

feat(validate): add .env.secrets support to CLI script
  .gitignore
  README.md
  scripts/validate_constants.py
Due: none

feat: add constants validation against API (#15)
  .gitignore
  CLAUDE.md
  README.md
  duties.py
  pyproject.toml
  scripts/validate_constants.py
  src/vclient/validate_constants.py
  tests/unit/test_validate_constants.py
Due: ty, pytest

feat(config): add environment variable support
  README.md
  scripts/validate_constants.py
  src/vclient/client.py
  src/vclient/constants.py
  tests/integration/test_client.py
Due: ty, pytest

docs(CLAUDE.md): add env var configuration reference
  CLAUDE.md
Due: none

feat(config): add environment variable support (#16)
  CLAUDE.md
  README.md
  scripts/validate_constants.py
  src/vclient/client.py
  src/vclient/constants.py
  tests/integration/test_client.py
Due: ty, pytest

bump(release): v1.1.2 → v1.2.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

fix(models): change game_version to game_versions list
  src/vclient/models/character_blueprint.py
  src/vclient/models/shared.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

fix(models): change game_version to game_versions list (#17)
  src/vclient/models/character_blueprint.py
  src/vclient/models/shared.py
  tests/integration/services/test_character_blueprint.py
Due: ty, pytest

bump(release): v1.2.0 → v1.2.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

fix(models): sync response models with API schemas
  src/vclient/models/character_blueprint.py
  src/vclient/models/characters.py
  src/vclient/models/diceroll.py
  src/vclient/models/dictionary.py
  src/vclient/models/shared.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_campaigns.py
  tests/integration/services/test_character_blueprint.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_users.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_shared.py
  tests/unit/models/test_users.py
Due: ty, pytest

fix(models): sync response models with API schemas (#18)
  src/vclient/models/character_blueprint.py
  src/vclient/models/characters.py
  src/vclient/models/diceroll.py
  src/vclient/models/dictionary.py
  src/vclient/models/shared.py
  tests/integration/services/test_campaign_book_chapters.py
  tests/integration/services/test_campaign_books.py
  tests/integration/services/test_campaigns.py
  tests/integration/services/test_character_blueprint.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_users.py
  tests/shared_response_fixtures.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_shared.py
  tests/unit/models/test_users.py
Due: ty, pytest

feat(client): add User-Agent header to HTTP requests
  pyproject.toml
  src/vclient/__init__.py
  src/vclient/client.py
Due: ty, pytest

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

