Repository natelandau/valentina-python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest

ty:
  name: ty
  entry: ty check src/
  language: system

pytest:
  name: pytest
  entry: duty test
  language: system
  pass_filenames: false

refactor(models): rename user models to new naming convention
  src/vclient/models/__init__.py
  src/vclient/models/users.py
  src/vclient/services/users.py
Due: ty, pytest

refactor(models): rename note models to new naming convention
  src/vclient/models/__init__.py
  src/vclient/models/shared.py
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/characters.py
  src/vclient/services/users.py
Due: ty, pytest

refactor(models): rename character trait models to new convention
  src/vclient/models/__init__.py
  src/vclient/models/character_trait.py
  src/vclient/services/character_traits.py
  src/vclient/services/characters.py
Due: ty, pytest

refactor(models): rename developer/admin models to new convention
  src/vclient/models/__init__.py
  src/vclient/models/developers.py
  src/vclient/models/global_admin.py
  src/vclient/services/developers.py
  src/vclient/services/global_admin.py
Due: ty, pytest

refactor(models): rename diceroll and dictionary models
  src/vclient/models/__init__.py
  src/vclient/models/diceroll.py
  src/vclient/models/dictionary.py
  src/vclient/services/dictionary.py
  src/vclient/services/diecrolls.py
Due: ty, pytest

refactor(exports): simplify top-level vclient exports
  src/vclient/__init__.py
Due: ty, pytest

feat(services): add hybrid API to dictionary, campaigns, companies
  docs/plans/2026-02-04-dx-improvements-design.md
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/companies.py
  src/vclient/services/dictionary.py
  src/vclient/services/diecrolls.py
  src/vclient/services/users.py
Due: ty, pytest

feat(services): add hybrid API to characters and remaining services
  src/vclient/services/characters.py
Due: ty, pytest

feat(services): complete hybrid API for all service methods
  src/vclient/services/character_traits.py
  src/vclient/services/developers.py
  src/vclient/services/global_admin.py
Due: ty, pytest

fix: clean up imports and fix model references
  src/vclient/models/__init__.py
  src/vclient/models/characters.py
  src/vclient/services/characters.py
  src/vclient/services/companies.py
  src/vclient/services/developers.py
  src/vclient/services/diecrolls.py
  src/vclient/services/users.py
Due: ty, pytest

test: update test imports for renamed models
  tests/unit/models/test_books.py
  tests/unit/models/test_campaigns.py
  tests/unit/models/test_chapters.py
  tests/unit/models/test_character_trait.py
  tests/unit/models/test_companies.py
  tests/unit/models/test_developers.py
  tests/unit/models/test_global_admin.py
  tests/unit/models/test_shared.py
  tests/unit/test_registry.py
Due: pytest

test: fix integration tests for hybrid API changes
  tests/integration/services/test_character_traits.py
  tests/integration/services/test_characters.py
  tests/integration/services/test_dictionary.py
  tests/integration/services/test_global_admin.py
Due: pytest

chore: add docs/plans to gitignore and remove from tracking
  .gitignore
  docs/plans/2026-02-04-dx-improvements-design.md
  docs/plans/2026-02-04-dx-improvements-implementation.md
Due: none

docs: update CLAUDE.md with new API patterns
  CLAUDE.md
Due: none

docs: update documentation
  CLAUDE.md
  README.md
  docs/campaign-book-chapters-service.md
  docs/campaign-books-service.md
  docs/campaigns-service.md
  docs/character-autogen-service.md
  docs/character-blueprint-service.md
  docs/character-traits-service.md
  docs/characters-service.md
  docs/companies-service.md
  docs/developers-service.md
  docs/dicerolls-service.md
  docs/dictionary-service.md
  docs/global-admin-service.md
  docs/models.md
  docs/options-service.md
  docs/system-service.md
  docs/users-service.md
Due: none

fix(diceroll): fix typo in public facing api
  src/vclient/__init__.py
  src/vclient/client.py
  src/vclient/endpoints.py
  src/vclient/models/__init__.py
  src/vclient/models/diceroll.py
  src/vclient/registry.py
  src/vclient/services/__init__.py
  src/vclient/services/dicerolls.py
  tests/integration/services/test_dicerolls.py
  tests/unit/test_registry.py
Due: ty, pytest

bump(release): v0.1.0 → v1.0.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

ci: add github workflows
  .github/actions/setup_python_env/action.yml
  .github/dependabot.yml
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/manual_pypy_publish.yml
  .github/workflows/pr-linter.yml
  .github/workflows/reusable-tests.yml
  .typos.toml
  pyproject.toml
  src/vclient/services/character_blueprint.py
  src/vclient/services/character_traits.py
  src/vclient/services/characters.py
  src/vclient/services/dicerolls.py
  src/vclient/services/dictionary.py
  src/vclient/services/global_admin.py
  src/vclient/services/users.py
  uv.lock
Due: ty, pytest

ci: add github workflows (#2)
  .github/actions/setup_python_env/action.yml
  .github/dependabot.yml
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/manual_pypy_publish.yml
  .github/workflows/pr-linter.yml
  .github/workflows/reusable-tests.yml
  .typos.toml
  pyproject.toml
  src/vclient/services/character_blueprint.py
  src/vclient/services/character_traits.py
  src/vclient/services/characters.py
  src/vclient/services/dicerolls.py
  src/vclient/services/dictionary.py
  src/vclient/services/global_admin.py
  src/vclient/services/users.py
  uv.lock
Due: ty, pytest

build: update agent tooling
  .claude/settings.json
  .claude/skills/documentation-writer/SKILL.md
  .cursor/rules/git-commit-message-rules.md
  .cursor/rules/python-git-workflow.md
  .cursor/skills/documentation-writer/SKILL.md
  .glue/manifest.json
  .glue/rules/git-commit-message-rules.md
  .glue/rules/python-git-workflow.md
  .pre-commit-config.yaml
  CLAUDE.md
  duties.py
  pyproject.toml
  uv.lock
Due: pytest

build(deps): update deps
  .claude/settings.json
  .cursor/rules/git-commit-message-rules.md
  .cursor/rules/global-coding-standards.md
  .cursor/rules/inline-comments-standards.md
  .cursor/rules/python-git-workflow.md
  .cursor/rules/python-packaging.md
  .cursor/rules/python-standards.md
  .cursor/rules/python-testing-standards.md
  .glue/manifest.json
  .glue/rules/git-commit-message-rules.md
  .glue/rules/global-coding-standards.md
  .glue/rules/inline-comments-standards.md
  .glue/rules/python-git-workflow.md
  .glue/rules/python-packaging.md
  .glue/rules/python-standards.md
  .glue/rules/python-testing-standards.md
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: pytest

docs: update claude.md
  CLAUDE.md
Due: none

build(deps): update dependencies (#3)
  .claude/settings.json
  .claude/skills/documentation-writer/SKILL.md
  .cursor/rules/git-commit-message-rules.md
  .cursor/rules/global-coding-standards.md
  .cursor/rules/inline-comments-standards.md
  .cursor/rules/python-packaging.md
  .cursor/rules/python-standards.md
  .cursor/rules/python-testing-standards.md
  .cursor/skills/documentation-writer/SKILL.md
  .glue/manifest.json
  .glue/rules/git-commit-message-rules.md
  .glue/rules/global-coding-standards.md
  .glue/rules/inline-comments-standards.md
  .glue/rules/python-packaging.md
  .glue/rules/python-standards.md
  .glue/rules/python-testing-standards.md
  .pre-commit-config.yaml
  CLAUDE.md
  duties.py
  pyproject.toml
  uv.lock
Due: pytest

refactor(client): use argument-only configuration
  CLAUDE.md
  src/vclient/__init__.py
  src/vclient/client.py
  src/vclient/config.py
  tests/integration/conftest.py
  tests/integration/services/test_base.py
  tests/integration/test_client.py
  tests/unit/conftest.py
  tests/unit/test_config.py
  tests/unit/test_registry.py
Due: ty, pytest

refactor(client): use argument-only configuration (#4)
  CLAUDE.md
  src/vclient/__init__.py
  src/vclient/client.py
  src/vclient/config.py
  tests/integration/conftest.py
  tests/integration/services/test_base.py
  tests/integration/test_client.py
  tests/unit/conftest.py
  tests/unit/test_config.py
  tests/unit/test_registry.py
Due: ty, pytest

refactor: remove unused code
  docs/code-review-2026-02-13.md
  pyproject.toml
  src/vclient/services/companies.py
  uv.lock
Due: ty, pytest

refactor(services): add _build_params helper
  docs/code-review-2026-02-13.md
  src/vclient/services/base.py
  src/vclient/services/characters.py
  src/vclient/services/dicerolls.py
  src/vclient/services/dictionary.py
  src/vclient/services/users.py
Due: ty, pytest

refactor(models): remove backwards compatibility aliases
  src/vclient/models/__init__.py
  tests/integration/services/test_characters.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_users.py
Due: ty, pytest

test(models): remove internal model tests
  pyproject.toml
  src/vclient/models/__init__.py
  tests/unit/models/test_users.py
Due: ty, pytest

style: consolidate pydantic imports
  src/vclient/services/base.py
  tests/unit/test_exceptions.py
Due: ty, pytest

refactor(services): add _build_params helper and cleanup (#5)
  docs/code-review-2026-02-13.md
  pyproject.toml
  src/vclient/models/__init__.py
  src/vclient/services/base.py
  src/vclient/services/characters.py
  src/vclient/services/dicerolls.py
  src/vclient/services/dictionary.py
  src/vclient/services/users.py
  tests/integration/services/test_characters.py
  tests/unit/models/test_characters.py
  tests/unit/models/test_users.py
  tests/unit/test_exceptions.py
Due: ty, pytest

build: add MIT license and clean up dependencies
  .pre-commit-config.yaml
  CLAUDE.md
  LICENSE
  duties.py
  pyproject.toml
  uv.lock
Due: pytest

build: add MIT license and clean up dependencies (#6)
  .pre-commit-config.yaml
  CLAUDE.md
  LICENSE
  duties.py
  pyproject.toml
  uv.lock
Due: pytest

bump(release): v1.0.0 → v1.0.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

refactor(services): remove positional-only markers
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/character_traits.py
  src/vclient/services/characters.py
  src/vclient/services/companies.py
  src/vclient/services/developers.py
  src/vclient/services/dicerolls.py
  src/vclient/services/dictionary.py
  src/vclient/services/global_admin.py
  src/vclient/services/users.py
Due: ty, pytest

refactor(services): remove positional-only markers (#7)
  src/vclient/services/campaign_book_chapters.py
  src/vclient/services/campaign_books.py
  src/vclient/services/campaigns.py
  src/vclient/services/character_traits.py
  src/vclient/services/characters.py
  src/vclient/services/companies.py
  src/vclient/services/developers.py
  src/vclient/services/dicerolls.py
  src/vclient/services/dictionary.py
  src/vclient/services/global_admin.py
  src/vclient/services/users.py
Due: ty, pytest

bump(release): v1.0.1 → v1.0.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

fix(diceroll): rename method
  src/vclient/services/dicerolls.py
  tests/integration/services/test_dicerolls.py
Due: ty, pytest

Path conditions:
  ty: any of: \.py$, but not: tests/|duties.py|scripts/
  pytest: any of: (?x)^(
src/|
tests/|
uv\.lock|
pyproject\.toml
)

